* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
}

.body {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    overflow-x: hidden;
}

.navbar {
    font-family: 'Montserrat' !important;
    font-weight: regular;
    font-size: 16px;

}

.my-navbar.scrolled {
    background-color: rgba(0, 0, 0, .4);
    transition: background-color 200ms linear;
}

.main {
    width: 100%;
    height: auto;
    font-family: 'Montserrat';
}
a:hover{
    text-decoration: none;
}
/*Banner principal*/
.primeira_pagina {
    width: 100%;
    font-family: 'Montserrat';
    min-height: calc(100vh - 40px) !important;
    position: relative;
    background: rgba(0, 0, 0, .5) url('../img/CAPA.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: darken;
    z-index: 0;
    background-size: cover;
    opacity: 1;
}

.logo {
    height: 17vh;
}

.btnBanner {
    padding: 10px 30px;
    border-radius: 10px;
}


/* SECTION TWO */
.twoCont {
    font-family: 'Montserrat';
    font-size: 20px;
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
}


.twoCont>img {
    font-family: 'Montserrat';
    font-size: 20px;
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    margin: 0px 100px;
}

.twoCont h2 {
    color: #414141;
    font-family: 'Montserrat';

    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 7vh;
}

.twoCont p {
    font-size: 1rem;
    color: #414141;
    text-align: center;
    width: 70vw;
    margin: auto;
    padding-top: 30px;
}

.twoBtn .btn {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 5px;
}



    /* SECTION TREE */
.sectionTree {
    background-color: #EEECEA;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.sectionTree img {
    width: 100%;
    height: 70vh;
}

#imgTree {
    padding-top: 85px;
}

.sectionTree a {
    color: white;
}

.sectionTree .btn {
    background-color: black;
    color: white;
    font-weight: bolder;
    height: 45px;
    padding: 10px 25px;
    border-radius: 10px;
    position: relative;
    bottom: 20px;
}

.sectionTree .phoneTree {
    display: none;
}

.treeHide {
    display: block;
}


@media only screen and (max-width: 767px) {
    .sectionTree {
        background-image: none;
        height: auto;
    }

    .sectionTree .btn {
        display: none;
    }
    
    .treeHider {
        display: none;
    }
    .sectionTree .phoneTree {
        display: block;
        width: 100%;
        height: 100vh;
        mix-blend-mode: normal;
        opacity: 1;
    }
}



/* SECTION FOUR */
.sectionFour {
    width: 100%;
    height: 80vh;
    padding-top: 100px;
}

.sectionFour img {
    width: 50vw;
    height: 70vh;
}

.btnFour {
    border: 2px solid black;
    font-weight: bolder;
    border-radius: 10px;
}


@media only screen and (max-width: 767px) {
    .sectionFour {
        width: 100%;
        height: 60vh;
    }

    .sectionFour img{
        width: 100%;
        height: auto;
    }

    .sectionFour .btn {
        display: none;
    }
}


/* SECTION FIVE */
.sectionFive {
    background-image: url(/assets/img/Caminho\ 8.png); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.sectionFive img {
    height: auto;
}

.sectionFive .btn {
    background-color: black;
    border-radius: 10px;
    font-weight: bolder;
    padding: 10px 25px;
}


@media only screen and (max-width: 767px) {
    .sectionFive {
        background: white;
        width: 100%;
        height: 30vh;
        margin: auto;
    }

    .sectionFive img {
        width: 100%;
        padding-left: 40px;
    }

    .sectionFive .btn {
        display: none;
    }
}


/* SECTION SIX */
.sixCont {
    font-family: 'Montserrat';
    font-size: 20px;
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
}

.sixCont>img {
    font-family: 'Montserrat';
    font-size: 20px;
    height: 100%;
    width: 100%;
    padding-bottom: 40px;
    margin: 0px 100px;
}

.btnSix {
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 35px;
}


@media only screen and (max-width: 767px) {
    .btnSix {
        background-color: black;
        color: white;
        padding: 10px 35px;
        border-radius: 10px;
    }
}


/* SECTION SEVEN */
.sectionSeven {
    background-color: #4D4D4D;
    color: #FFFFFF;
    width: 100%;
    height: auto;
}

.sevenItem1 {
    width: 39vw;
    padding-left: 100px;
}
.sevenItem1 h2 {
    font-family: 'Montserrat';
    line-height: 1.6;
    text-align:left;
    font-size: 3rem;
    font-weight: lighter;
}

.inputSeven input{
    min-width: 340px;
    height: 63px;
    border: 2px solid white;
    border-radius: 40px;
    background-color: #4D4D4D;
    color: white;
}

.sevenBtn .btn {
    min-width: 5vw;
    font-weight: bolder;
    border-radius: 10px;
}


@media only screen and (max-width: 767px) {
    .sevenItem1 {
        width: 600px;
        padding: 0;
        margin: 0;
    }

    .sevenItem1 h2 {
        font-size: 1.1rem;
        width: 100%;
        padding: 0;
    }
}


/* SECTION EIGHT */
.sectionEight {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Montserrat';
    margin: auto;
}

.eightCol-1 {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.74);
    height: 50vh;
    margin: auto;
    padding: 0;
}

.btnEight {
    background-color: black;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.btnEight a {
    color: white;
}

@media only screen and (max-width: 767px) {
    .eightCol-1 {
        margin: 15px;
    }
}


/* FOOTER */
.footerCont {
    background-color: #000;
    z-index: 20;
    font-family: 'Montserrat';
    font-size: 14px;
}

.footerCont .logoFooter {
    margin-top: 5px;
}

.insta-icon img {
    padding-right: 10px;
    width: 38px;
}

.insta-icon a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.wppCont img {
    padding-right: 10px;
    width: 48px;
}

.wppCont a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.iconLocal address {
    padding-top: 15px;
}


/* BANNER RESPONSIVE */
@media only screen and (max-width: 767px) {
    .logo {
        height: 15vh;
    }

    #button-dsc {
        padding: 1.5vh 4vw;
    }

    .primeira_pagina {
        position: relative;
        background: rgba(0, 0, 0, .6) url('/assets/img/CAPA.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: darken;
        z-index: 0;
        background-size: cover;
        opacity: 1;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .hide-phone {
        display: none;
    }

    .show-phone-only {
        display: block;
    }

    .bottomwhats a{
        color: white;
    }
    
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #505050;
        z-index:1000;
    }
    
    .my-float{
        margin-top:10px;
    }
    
    .fa-whatsapp {
        color: white;
        margin-top: 16px;
    }
    