* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
}

.body {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    overflow-x: hidden;
}


.navbar {
    font-family: 'Montserrat' !important;
    font-weight: regular;
    font-size: 16px;
}

.main {
    width: 100%;
    height: auto;
}

.principal {
    width: 100%;
    min-height: calc(100vh - 40px) !important;
    position: relative;
    background: rgba(0, 0, 0, .5) url('../img/CAPA.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: darken;
    z-index: 0;
    background-size: cover;
    opacity: 1;
}

/*Banner principal*/


.logo {
    height: 17vh;
}

.linha-buttom {
    height: 63vh;
    width: 100%;
}

#button-dsc {
    background-color: #000000;
    width: 14vw;
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    opacity: 1;
    padding: 1.5vh 2vw;
    border-radius: 10px;
    border: none;
}

#button-dsc:hover {
    background-color: #000000bb;
    cursor: pointer;
}

#link-dsc {
    text-decoration: none;
    color: white;
}